body {
	/* version original
	background:  #f3f5fc;*/
	background-image: url(images/img-background.webp);
}

header {
	height: 10%;
}
img {
	border-radius: 50%;
	margin-left: 15px;
	margin-top: 15px;
	max-width: 40px;
}

.input-texto {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: space-around;
	padding-top: 90px;
}

input {
	width: 343px;
	height: 50%;
	text-align: center;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	border: 0;
	border-radius: 10px;
	background: #f3f5fc;
}
input:focus {
	background: #fafafa;
	outline: none;
}

::placeholder {
	color: #495057;
}

.botones {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;

	margin-top: 100px;
}

p {
	font-family: "Inter";
	/* color: #495057; */
	color: #fcf4f3;
	font-size: 12px;
}
.btn-encriptador {
	height: 50px;
	width: 340px;
	left: 0px;
	top: 0px;
	border-radius: 24px;
	background-color: #0a3871;
	color: #f3f5fc;
	text-align: center;
	border: 0;
}

.btn-encriptador:hover {
	background-color: #6f7376;
}

.btn-desencriptador {
	height: 50px;
	width: 340px;
	left: 0px;
	margin-top: 20px;
	border-radius: 24px;
	background-color: #f3f5fc;
	color: #0a3871;
	text-align: center;
	border-color: #0a3871;
	border-width: 1.5px;
}

.btn-desencriptador:hover {
	background-color: #6f7376;
	color: #f3f5fc;
	border: 0;
}

.textoEncriptado {
	width: 100%;
	height: 35%px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

textarea {
	width: 22%;
	height: 70px;
	margin-top: 20px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
	text-align: center;
	border: 0;
	font-family: "Inter";
	font-size: 20px;
	display: none;
}

textarea::placeholder {
	font-weight: bold;
}

.boton-copiar {
	width: 15%;
	margin: auto;
	padding-top: 20px;
	padding-left: 80px;
	padding-bottom: 20px;
	padding-right: 80px;
	margin-top: 20px;
	border-radius: 24px;
	background-color: #0a3871;
	color: #f3f5fc;
	font-size: 12px;
	text-align: center;
	border: 0;
}

.boton-copiar:hover {
	background-color: #696a6b;
}

.sinTextoEncriptado {
	display: block;
	width: 20%;
	height: 50%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	border-radius: 32px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	text-align: center;
	background: white;
	font-family: "Inter";
	font-size: 10px;
	color: #a1a2a3;
}

footer p {
	width: 100%;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	color: #fcf4f3;
	font-family: "Inter";
	font-size: 12px;
}
